server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tiny_ai_interview?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: 1234567891011
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      password: 123456